<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-text">Text</label>
      <input type="text" id="post-text" name="post-text" />
    </div>
    <div>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Recent Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>