.button {
    border-radius: 4px;
    background-color: #764ba2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
button{
    color:white;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .grad,
  .grad-btn {
    background-image: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  }
  .btn:hover {
   background:  #764ba2;
   color: #fff;
  }
  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.card .body {
    color: #444;
    padding: 20px;
    font-weight: 400;
}
.card .header {
    color: #444;
    padding: 20px;
    position: relative;
    box-shadow: none;
}
.row{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .masthead-text{
    height: 300px;
  }
  
  .form-control{
    height: 45px;
  }
  
  select:hover {
    color: #444645;
    background: #ddd;
  }
  
  .login-or {
      position: relative;
      font-size: 18px;
      color: #aaa;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .span-or {
      display: block;
      position: absolute;
      left: 50%;
      top: -2px;
      margin-left: -25px;
      background-color: #fff;
      width: 50px;
      text-align: center;
    }
    .hr-or {
      background-color: #cdcdcd;
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  
  #login-dp{
      min-width: 250px;
      padding: 14px 14px 0;
      overflow:hidden;
      background-color:rgba(255,255,255,.8);
  }
  #login-dp .help-block{
      font-size:12px    
  }
  
  #login-dp .social-buttons{
      margin:12px 0    
  }
  #login-dp .social-buttons a{
      width: 49%;
  }
  #login-dp .form-group {
      margin-bottom: 10px;
  }
  .btn-fb{
      color: #fff;
      background-color:#3b5998;
  }
  .btn-fb:hover{
      color: #fff;
      background-color:#496ebc 
  }
  .btn-tw{
      color: #fff;
      background-color:#55acee;
  }
  .btn-tw:hover{
      color: #fff;
      background-color:#59b5fa;
  }
  @media(max-width:768px){
      #login-dp{
          background-color: inherit;
          color: #fff;
      }
      #login-dp .bottom{
          background-color: inherit;
          border-top:0 none;
      }
  }
  
  .progress {
    height: 5px;
  }
  
  .block-help {
          font-weight: 300;
      }
  
  .hide {
    display: none;
  }
  
  @media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.order-card {
    color: #fff;
}
.activity {
    color: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
    right: -120%;
    top: 30%;
}

.posts{
    right: -120%;
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
    left: 120%;
    top: 30%;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
} 
.cardbox {
    top: 10%;
}

     
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

/* .profile-information .profile-pic img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid #f1f2f7;
    margin-top: 20px;
}
*/
.profile-information .profile-desk h1 {
    color: linear-gradient(45deg,#4099ff,#73b4ff);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    right:-120%;
} 

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.profile-information .profile-desk {
    border-right: 1px solid #ddd;
    padding-right: 30px;
}

.btn-primary {
    background-color: #1fb5ad;
    border-color: #1fb5ad;
    color: #FFFFFF;
}

.act-content{
    padding:40px;    
}

.recent-act h1 {
    text-align: center;
    color:  linear-gradient(45deg,#4099ff,#73b4ff);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.activity-icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    margin: 20px auto 20px;
    position: relative;
}
.activity-name {
    right:-120%;
}
.activity-icon.terques {
    background: #8fd6d6;
}

.activity-icon {
    background: #C7CBD6;
}

.recent-act:before {
    background-color: #eeeeee;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 50px;
    width: 2px;
    z-index: 0;
}

.activity-desk {
    padding: 15px 30px;
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    text-align: center;
}

.activity-desk h2 {
    color: #1fb5ad;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
                               